.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 300px;
  justify-content: center;
}

.login {
  font-family: roboto;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.emailContainer {
  margin-top: 20px;
}

.passwordContainer {
  margin-top: 15px;
}

.password {
  font-size: 18px;
  font-family: roboto;
}

.email {
  font-size: 18px;
  font-family: roboto;
}

.input {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  width: 250px;
  margin-top: 5px;
  border-width: 1.5px;
  background: white;
  font-family: roboto;
  font-size: 17px;
  text-indent: 5px;
}

.loginButton {
  font-size: 20px;
  background-color: #5a45f2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  color: white;
  font-family: roboto;
  border-radius: 10px;
  width: 270px;
  border-width: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .loginContainer {
    width: 500px;
    margin-top: 100px;
  }

  .input {
    width: 300px;
  }
  .loginButton {
    width: 320px;
  }
  .login {
    font-size: 36px;
  }
}
