.searchBox {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  border-width: 1.5px;
  background: white;
  font-family: roboto;
  font-size: 17px;
  text-indent: 5px;
  margin-left: 40px;
  margin-right: 40px;
  width: 75%;
}

.search {
  font-family: roboto;
  color: balck;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
